extends base


block head
  link(href="https://cdn.maptiler.com/maptiler-sdk-js/v2.5.1/maptiler-sdk.css" rel="stylesheet")


mixin reviewBox(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src=`/images/users/${review.user.photo}`, alt=`${review.user.name}`)
      h6.reviews__user= `${review.user.name}`
    p.reviews__text= review.review
    .reviews__rating
      each star in [1,2,3,4,5]
        - const status = star <= review.rating ? 'active' : 'inactive'
        svg.reviews__star(class= `reviews__star--${status}`)
          use(xlink:href=`/images/icons.svg#icon-star`)

mixin overviewBox(lable, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/images/icons.svg#icon-${icon}`)
    span.overview-box__label= lable
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/images/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= tour.name
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/images/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/images/icons.svg#icon-map-pin')
          span.heading-box__text= `${tour.startLocation.description}`

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          - const date = tour.startDates[0].toLocaleString("en-us",{month: "long", year: "numeric"})
          +overviewBox('Next date',date,'calendar')
          +overviewBox('Difficulty', tour.difficulty ,'trending-up')
          +overviewBox('Participants',`${tour.maxGroupSize} people`,'user')
          +overviewBox('Rating',`${tour.ratingsAverage} / 5`,'star')


        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides
          for guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/images/users/${guide.photo}`, alt=`${guide.name}`)
              - const role = guide.role == "operator" ? "Lead guide" : "Tour guide"
              span.overview-box__label= role
              span.overview-box__text= guide.name


    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      - const paragraphs = tour.description.split('\n')
      each paragraph in paragraphs
        p.description__text= paragraph

  section.section-pictures
    each img,indx in tour.images
      .picture-box
        img.picture-box__img(src=`/images/tours/${img}`, alt=`The Park Camper Tour ${indx+1}` class=`picture-box__img--${indx+1}`)

  section.section-map
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    .reviews
      each review in tour.reviews
        +reviewBox(review)
  
  section.section-cta
  .cta
    .cta__img.cta__img--logo
      img(src='/images/logo-white.png', alt='Natours logo')
    img.cta__img.cta__img--1(src=`/images/tours/${tour.images[0]}`, alt=`${tour.name}`)
    img.cta__img.cta__img--2(src=`/images/tours/${tour.images[1]}`, alt=`${tour.name}`)
    .cta__content
      h2.heading-secondary What are you waiting for?
      p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
      button.btn.btn--green.span-all-rows Book tour now!